<div class="container my-5">
  <h1 class="text-center text-primary mb-4">Dokument hochladen</h1>
  <div class="card p-4 shadow-sm">
    <div class="mb-3">
      <label class="form-label">Bitte wähle ein PDF aus:</label>
      <input type="file" (change)="onFileSelected($event)" accept="application/pdf" class="form-control" />
    </div>
    <!-- Button ist disabled, solange keine Datei ausgewählt -->
    <button (click)="uploadDocument()"
            [disabled]="!selectedFile"
            class="btn btn-success"
            style="cursor: pointer;">Hochladen</button>

    <div *ngIf="uploadMessage" class="mt-3 alert alert-info">
      {{ uploadMessage }}

      <button (click)="goToSearch()" class="btn btn-primary mt-2">
        Zur Suche
      </button>
    </div>
  </div>
</div>
